@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}
html, body{
    height: 100%;
    width: 100%;

}
.main{
    display: flex;
    overflow-x: hidden;
}
.left-nav{
    width: 26vw;
    height: 100vh;
    background-color: #F9F9F9;
    position:fixed;
}

.left-nav .followers p{
    letter-spacing: -1px;
    color: #a6b0b6;
}

.left-nav .followers span{
    font-weight: 500;
}

.section1{
    margin-top: 30px;
    margin-left: 30px;
}

.section2{
    margin-bottom: 48px;
}
.section2 .dp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;

}
.section2 .dp h3{
    font-size: 2vw;
    font-weight: 500;
    margin: 5px;
}
.dp img{
    width: 100px;
    border-radius: 50%;
}
.followers{
    margin: 30px 40px;
    display: flex;
    justify-content: space-around;
}

.followers .follow-count{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section3{
    display: flex;
    flex-direction: column;
}


.section3 .nav-menu{
    margin: 0px 30px 25px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section3 .nav-menu p{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
}

.section3 .nav-menu span{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(to right,  #FAA343, #E74A64); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}

.section3 .nav-menu:hover{
    background: linear-gradient(to right,  #FAA343, #E74A64); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}

.section3 .nav-menu .line{
    border-bottom: 1px solid #c4cbd0;
    width: 250px;
}

.section3 img{
    width: 28px;
}

.right-nav{
    margin-left: 30vw;
    overflow-y: scroll;
}

.stories h1{
    font-weight: 500;
    margin-bottom: 1.5vw;
}
.stories-container img{
    height: 100px;
    margin-left: 16px;
    margin-bottom: 1.5vw;
}
.feed{
    display: flex;
    flex-direction: row;
    width: 65%;
}
.feed-post{
    width: 47%;
}

.post{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.post-button{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.left-button{
    margin-right: 5px;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
}

.search{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #F0F2F5;
    width: 230px;
    height: 35px;
}

.search img{
    width: 20px;
    height: 20px;
    margin: 0px 25px 0px 10px;
}

.search p{
    color: #87959D;
}

.top-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    width: 240px;
}
.top-right .add_photo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #FAA343, #E74A64);
    width: 140px;
    height: 35px;
    border-radius: 5px;
}
.top-right .add_photo p{
    color: white;
}
